
body,html{
    background-image: url('https://images2.alphacoders.com/130/1306410.png');
    color: white;
    height: 100%;
    }
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    }
    form{
    display: table-caption;
    border: 1px solid rgb(254, 254, 254);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 986px;
    height: 86px;
    padding: 20px;
    
    }